div#container {
    /* width: 100px; */
    /* margin: 0 auto; */
    /* padding: 0; */
    /* background-color: red; */
    /* border: 2px solid red; */
}
header {
    /* width: 100px; */
    height: 100px;
    /* border: 2px solid black; */

}  
header img {
    width: 60px;
    height: 50px;
    float: left;
}
header span#title {
    font-weight: bold;
    font-size: 1.5em;
    float:left;
    padding-top: 15px;
    padding-left: 10px;
}
header span#slogen {
    clear: left;
    float: left;
    padding-left: 70px;
    top: -10px;
    position: relative;

}
header div#search {
    float: right;
    top: -20px;
    margin-right: 20px;
    position: relative;
}
header div#search input#namefield {
    width: 100px;
    border: 1px solid black;
    color: aliceblue ;
    border-radius: 5px;
}
header div#search input#namefield:focus {
    border: 2px solid red;
}
header div#search input#btn-search:hover {
    border-radius: 15px;
    color: white;
    background-color: rgb(8, 8, 8);
    cursor: pointer;
}
nav {
    width: 1200px;
    height: 40px ;
    padding-top: -50;
    float: left;
}
nav ul {
    list-style-type:  none;
    /* padding-top: 10px; */
    padding: 0; 
    margin: 0;
    text-align: center;
    
}
nav ul li {
    display: inline-block;
    /* list-style-type: none ; */
    justify-content: center;
    padding-left: 100px;
    color:  blue ;
}
nav ul li a {
    text-decoration: none;
    margin-left: 60px;
    width: 30px;
    height: 25px;
    /* border: 1px solid blue; */
}
nav ul li a:hover {
    text-decoration: underline;
    color: white;
    background-color: black;
    font-weight: bold;
}

aside {
    /* border: 2px solid red;  */
    width: 120px;
    float: left;
    padding-left: 20px;
    height: 250px;
}

aside ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
aside ul li {
    display: block;
    margin-top: 10px;
    padding-right: 70px;
}
aside ul li a {
      display: inline-block;
      text-decoration: none;
      width: 100px;
      height: 30px;
      text-align: center;
      text-decoration: none;
      background-color: rgb(15, 161, 229);
      text-align: center;
      color: rgb(8, 8, 8); 
}

aside ul li a:hover {
    text-decoration: underline;
    color: white;
    background-color: rgb(8, 7, 7);
}

div#products {
    /* width: 100px; */
    /* margin-top: -50% ; */
    float: left;
    height: 150px;
    /* border: 1px solid black; */
    font-size: 10px;
}
div.card {
    width: 150px;
    height: 180px;
    border: 1px solid rgb(154, 152, 152);
    text-align: center;
    float: left;
    margin: 30px;   
}
div.card:hover{
    box-shadow: 0 0 10px rgb(69, 7, 12);
    cursor: pointer;
}
div.card img{
    width: 150px;
    height: 180px;
    
}
div.card h3 {
    font-family: sans-serif;
    font-size: 1.2em; 
    font-weight: bold
}
div.card p{
    font-family:'Courier New', Courier, monospace;
    font-size: x-small;
    padding: 10px;
    /* padding-top: -130px; */
    /* padding-bottom: -130px; */
}
div.card p.price {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    font-weight: bold;
    color: rgb(69, 7, 12);
    /* padding: -130px; */
}
div.card button {
    width: 100% ;
    height: 25px;
    background-color: rgb(69, 7, 12);
    color: white;
}
div.card button:hover{
    color: rgb(88, 8, 226);
    cursor: pointer;
}
footer {
    width: 100%;
    /* height: 50%; */
    /* border: 1px solid black; */
    margin-top: -10px;
    clear: both;
    float: left;
}

footer p {
    font-family: sans-serif;
    text-align: center;
    padding-top: 200px;
    /* padding-bottom: 100px; */
    /* background-color: lightgray; */
}